@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>
<h4 class="center light-green-text lighten-2">Enter your email.</h4>
<div class="row">
        <form method="post">
            <div asp-validation-summary="All" class="red-text center"></div>
            <div class="input-field col s6 offset-s3">
                <input asp-for="Input.Email"class="center light-green-text lighten-2"/>
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="red-text center"></span>
            </div>
            <div class="center col s12">
                <button type="submit" class="waves-effect waves-light btn light-green lighten-2">Submit<i class="material-icons right">send</i></button>
            </div>
        </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
