@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 class="center green-text lighten-2">@ViewData["Title"]</h1>
    <p class="center green-text lighten-1">You have successfully logged out of the application.</p>
</header>