/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.notfound {
    max-width:40%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.fas {
    color: greenyellow;
}

.lesson-details {
    border-style: solid;
    border-width: thin;
    border-block-color:forestgreen;
    background-color:lightgray;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.brand-logo {
    margin-left: 20px;
}

.logout {
    margin-right: 10px;
}

.dbrd-btn {
    margin-top: 2px;
}

.cookie-btn {
    margin-bottom: 5px;
}

.btn {
    margin-top: 5px;
}

.li-btn {
    margin-top: -4px;
    margin-left: 2px;
}

.mobile-logout {
    margin-left: 30px;
}

.forum-post {
    border-radius: 15px;
    margin: 20px;
}

.forum-title {
    background-color: rgba(174,213,130,255);
    border-radius: 15px;
}

.post-by-category {
    background-color: rgba(174,213,130,255);
    border-radius: 0px 50px 30px;
    margin: 20px;
}

.margin {
    margin-top: 15px;
}

.margin-left {
    margin-left: 10px;
}

.head-post {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: whitesmoke;
}

.margin-top{
    margin-top: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}
.footermg{
    margin-top: 10px;
    margin-bottom: 10px;
}