@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>

<div class="row">
    <div class="col s12 l2 offset-l1">
        <a asp-controller="Categories" asp-action="All" class="btn btn-small dbrd-btn">Categories</a>
    </div>
    <div class="col s12 l2 offset-l1">
        <a asp-action="Users" class="btn btn-small dbrd-btn">Users</a>
    </div>
    <div class="col s12 l2 offset-l1">
        <a asp-action="Lessons" class="btn btn-small dbrd-btn">Lessons</a>
    </div>
    <div class="col s12 l2 offset-l1">
        <a asp-controller="Courses" asp-action="All" class="btn btn-small dbrd-btn">Courses</a>
    </div>
</div>
