@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>

<div class="row">
    <div class="s1 l3 center">
        <a asp-controller="Categories" asp-action="All" class="btn btn-small">Categories</a>
    </div>
    <div class="s1 l3 center">
        <a asp-action="Users" class="btn btn-small">Users</a>
    </div>
    <div class="s1 l3 center">
        <a asp-action="Lessons" class="btn btn-small">Lessons</a>
    </div>
    <div class="s1 l3 center">
        <a asp-controller="Courses" asp-action="All" class="btn btn-small">Courses</a>
    </div>
</div>
