@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h4 class="center light-green-text lighten-2">@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col s6 center offset-s3">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="red-text"></div>
            <div>
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="center light-green-text lighten-2" disabled />
                        <div>
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                 else
                {
                    <input asp-for="Email" class="center light-green-text lighten-2 " disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn waves-effect waves-light light-green lighten-2">Send verification email</button>
                }
            </div>
            <div>
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail" class="center light-green-text lighten-2" />
                <span asp-validation-for="Input.NewEmail" class="red-text"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn waves-effect waves-light light-green lighten-2">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
