@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="center light-green-text lighten-2" >@ViewData["Title"]</h4>

<div class="row">
    <div class="col center" >
        <p class="center light-green-text lighten-2 flow-text">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong class="center light-green-text lighten-2 flow-text">Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn waves-effect waves-light light-green lighten-2" type="submit"><i class="fas fa-cloud-download-alt left"></i>Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn waves-effect waves-red red darken-4"><i class="material-icons left">warning</i>Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}