@model EducationHub.Web.ViewModels.Administration.CategoryAdminViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1  class="center light-green-text lighten-2">Edit</h1>

<h4  class="center light-green-text lighten-2">Category</h4>

<div class="row">
    <div class="col s6 center offset-s3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="center light-green-text lighten-2"/>
                <span asp-validation-for="Name" class="red-text"></span>
            </div>
            <div>
                <label asp-for="PictureUrl" ></label>
                <input asp-for="PictureUrl" class="center light-green-text lighten-2" />
                <span asp-validation-for="PictureUrl" class="red-text"></span>
            </div>
            <div class="center">
                <label>
                    <input asp-for="IsDeleted" />
                    <span>IsDeleted</span>
                </label>
            </div>
            <div >
                <input type="submit" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

