@using EducationHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="center light-green-text lighten-2">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <h3>Knowledge sharing platform.</h3>
</div>
