@model EducationHub.Web.ViewModels.Administration.Courses.EditCourseAdminViewModel

@{
    ViewData["Title"] = "Edit course";
}

<h3 class="center light-green-text lighten-2">@ViewData["Title"]</h3>

<partial name="_TinyMCEPartial" />

<div class="row">
    <div class="col s6 center offset-s3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <div>
                <label asp-for="Title" class="light-green-text lighten-2"></label>
                <input asp-for="Title" class="center light-green-text lighten-2" />
                <span asp-validation-for="Title" class="red-text"></span>
            </div>
            <div>
                <select asp-for="CategoryId" class="icons">
                    @foreach (var item in Model.CategoriesItems)
                    {
                        <option value="@item.Id" data-icon="@item.PictureUrl">@item.Name</option>
                    }
                </select>
                <label asp-for="CategoryId" class="light-green-text lighten-2"></label>
            </div>
            <div>
                <label asp-for="CreatedOn" class="light-green-text lighten-2"></label>
                <input asp-for="CreatedOn" class="center light-green-text lighten-2" placeholder="yyyy-MM-dd 00:00:00" />
                <span asp-validation-for="CreatedOn" class="red-text"></span>
            </div>
            <div>
                <label asp-for="Description" class="light-green-text lighten-2"></label>
                <textarea asp-for="Description" class="center light-green-text lighten-2"></textarea>
                <span asp-validation-for="Description" class="red-text"></span>
            </div>
            <div>
                <label asp-for="ModifiedOn" class="light-green-text lighten-2"></label>
                <input asp-for="ModifiedOn" class="center light-green-text lighten-2" placeholder="yyyy-MM-dd 00:00:00" />
                <span asp-validation-for="ModifiedOn" class="red-text"></span>
            </div>
            <div>
                <label asp-for="DeletedOn" class="light-green-text lighten-2"></label>
                <input asp-for="DeletedOn" class="center light-green-text lighten-2" placeholder="yyyy-MM-dd 00:00:00" />
                <span asp-validation-for="DeletedOn" class="red-text"></span>
            </div>
            <div>
                <label asp-for="UserUserName" class="light-green-text lighten-2"></label>
                <input asp-for="UserUserName" class="center light-green-text lighten-2" />
                <span asp-validation-for="DeletedOn" class="red-text"></span>
            </div>
            <div>
                <label>
                    <input asp-for="IsDeleted" />
                    <span>IsDeleted</span>
                </label>
            </div>
            <div>
                <input type="submit" class="btn blue waves-effect waves-green" value="Submit" />
            </div>
        </form>
        <a asp-action="All" class="center light-green-text lighten-2">Back to List</a>
    </div>
</div>

@section Scripts {
    <script src="~/js/charactersCounter.js"></script>
    <script src="~/js/categoryDropDawn.js"></script>
    <script src="~/js/modal.js"></script>
}
