@using EducationHub.Web.ViewModels.Lessons
@model IEnumerable<ListingLessonViewModel>
@{
    ViewData["Title"] = "My lessons";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>

<partial name="_ListingResoursesPartial" model="@Model"/>