@model EducationHub.Web.ViewModels.Lessons.DetailsLessonViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="center light-green-text lighten-2">@Model.Title</h1>

<div class="row">
    <div class="col s12 l7 m7">
        <div class="video-container responsive-video">
            <iframe width="800" height="480" src="//www.youtube.com/embed/@Model.ViewModelVideoUrl" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <form id="anti-forgery-form" method="post"></form>
    <div class="col s12 l4 m4 offset-l1 offset-m1">
        <partial name="_UserBadgePartial" model="@Model" />
    </div>
</div>
<div class="center light-green-text lighten-2">
    <h5>Description</h5>
</div>
<div class="row">
    <div class="lesson-details col l12 s12 m12 center">
        @Html.Raw(Model.SanitiedDescription)
    </div>
</div>

@section Scripts {
    <script src="~/js/ratingStar.js"></script>
    <script>
        $("i[data-vote]").each(function (el) {
            $(this).click(function () {
                let value = $(this).attr("data-vote");
                let votedForId = '@Model.Id';
                let antiForgeryToken = $('#anti-forgery-form input[name=__RequestVerificationToken]').val();
                let data = { votedForId: votedForId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#average-vote-value').html(data.averageVote.toFixed(1));
                        $('#votes').html(data.votes);
                        M.toast({ html: 'You voted successfully!', classes: "green" });
                    },
                    error: function () {
                        M.toast({ html: 'Vote fail!', classes: "red" });
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}
