@using static EducationHub.Data.Common.Validations.DataValidation.Lesson
@model EducationHub.Web.ViewModels.Administration.Lessons.EditLessonAdminViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="center light-green-text lighten-2">Edit</h1>

<h4 class="center light-green-text lighten-2">Lesson</h4>

<div class="row">
    <div class="col s6 center offset-s3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="red-text"></div>
            <div>
                <label asp-for="Title"></label>
                <input asp-for="Title" class="center light-green-text lighten-2" />
                <span asp-validation-for="Title" class="red-text"></span>
            </div>
            <div>
                <label asp-for="VideoUrl"></label>
                <input asp-for="VideoUrl" class="center light-green-text lighten-2" />
                <span asp-validation-for="VideoUrl" class="red-text"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input asp-for="Description" readonly class="center light-green-text lighten-2" placeholder="yyyy-MM-dd 00:00:00" />
                <span asp-validation-for="Description" class="red-text"></span>
            </div>
            <div class="input-field">
                <select asp-for="CategoryId" class="icons">
                    @foreach (var item in Model.CategoriesItems)
                    {
                        <option value="@item.Id" data-icon="@item.PictureUrl">@item.Name</option>
                    }
                </select>
                <label asp-for="CategoryId" class="center light-green-text lighten-2"></label>
            </div>
            <div>
                <label asp-for="CourseTitle"></label>
                <input asp-for="CourseTitle" readonly class="center light-green-text lighten-2" placeholder="yyyy-MM-dd 00:00:00" />
                <span asp-validation-for="CourseTitle" class="red-text"></span>
            </div>
            <div>
                <label asp-for="CreatedOn"></label>
                <input asp-for="CreatedOn" class="center light-green-text lighten-2" placeholder="yyyy-MM-dd 00:00:00" />
                <span asp-validation-for="CreatedOn" class="red-text"></span>
            </div>
            <div>
                <label asp-for="ModifiedOn"></label>
                <input asp-for="ModifiedOn" class="center light-green-text lighten-2" placeholder="yyyy-MM-dd 00:00:00" />
                <span asp-validation-for="ModifiedOn" class="red-text"></span>
            </div>
            <div>
                <label asp-for="DeletedOn"></label>
                <input asp-for="DeletedOn" class="center light-green-text lighten-2" placeholder="yyyy-MM-dd 00:00:00" />
                <span asp-validation-for="DeletedOn" class="red-text"></span>
            </div>
            <div>
                <label asp-for="User"></label>
                <input asp-for="User" readonly class="center light-green-text lighten-2" />
                <span asp-validation-for="DeletedOn" class="red-text"></span>
            </div>
            <div>
                <label>
                    <input asp-for="IsDeleted" />
                    <span>IsDeleted</span>
                </label>
            </div>
            <div>
                <input type="submit" class="btn blue waves-effect waves-green" value="Submit" />
            </div>
        </form>
        <a asp-action="All" class="center light-green-text lighten-2">Back to List</a>
    </div>
</div>
@section Scripts {
    <script src="~/js/charactersCounter.js"></script>
    <script src="~/js/categoryDropDawn.js"></script>
    <script src="~/js/modal.js"></script>
}