@using EducationHub.Web.ViewModels.Courses
@model IEnumerable<ListingCoursesViewModel>
@{
    ViewData["Title"] = "My Courses";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>

@if (this.TempData.ContainsKey("Error"))
{
    <div class="col s6 l6 center red-text"><strong>@TempData["Error"]</strong></div>
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="col s6 l6 center green-text"><strong>@TempData["Message"]</strong></div>
}

<partial name="_ListingResoursesPartial" model="@Model" />

