@model EducationHub.Web.ViewModels.Courses.EditCourseViewModel
@{
    ViewData["Title"] = "Edit course";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>
<h3 class="center light-green-text lighten-2">@Model.Title</h3>
<ul class="collection green-text">
    <li class="collection-item">
        Add new lesson
        <a class="btn btn-small btn-floating right li-btn light-green accent-4 waves-effect waves-light" href="#">
            <i class="material-icons">
                add
            </i>
        </a>
    </li>
    <li class="collection-item">
        Alvin
        <a class="btn btn-small btn-floating right li-btn red darken-2 waves-effect waves-red" href="#">
            <i class="material-icons">clear</i>
        </a>
        <a class="btn btn-small btn-floating right li-btn waves-effect waves-light" href="#">
            <i class="material-icons accent-4">edit</i>
        </a>
    </li>
</ul>

